.wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 3fr 3fr;
}

.buttons {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
}

.atmBlock {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  background-color: #7a7a7a;
}

.queue {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(10, 1fr);
  background-color: #aa77aa;
}

.queue div {
  height: 30%;
  width: 90%;
  background-color: chartreuse;
  align-self: center;
}

.atm {
  height: 60%;
  width: 70%;
  background-color: aqua;
  display: grid;
  align-self: center;
}

.person {
  height: 40%;
  width: 50%;
  background-color: aquamarine;
  display: grid;
  align-self: center;
}

.currentATM {
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: red;
  font-size: 40px;
}
